/* dotj@github */

body {
	background-color: #f0f0f0;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	width: 100%;
	font-size: 1em;
}

p {
	letter-spacing: 0.05em;
	text-align: center;
	vertical-align: center;
}

a {
	color: #333;
}

a:hover {
    background-color: #c0c0c0;
}

/* divs */
.container {
	background-color: #fff;
	padding: 1em;
	width: 90%;
	vertical-align: center;
	align: center;

	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


/*--- media queries ---------------------------------------------------------*/
/* adapted from Skeleton V2.0.4, 2014, Dave Gamache / www.getskeleton.com ---*/

/* Larger than mobile */
@media (min-width: 400px) {
	.container {
		width: 50%;
		height: 25%;
	}
}
